@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.image-headline {
  background-image: url("/images/image-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
